* {
  font-size: 62.5%;
  box-sizing: border-box;
}
:root {
  --primary-color: #fff5f5;
  --secondary-color: #495e6b;
  --tertiary-color: #292c2d;
  --primary-border: #49b3fc;
  --secondary-order: #f091ad;
}

body {
  font-size: 10rem;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-family: "Lato", "Roboto" sans-serif;
}

h1 {
  color: var(--primary-color);
  font-size: 6rem;
  margin: 2rem;
  text-shadow: 1px 1px 2px var(--secondary-color);
}
h2 {
  font-size: 4rem;
  text-shadow: 2px 2px 1px #333;
}

/* Global styles end */

/* Header section styles begin */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./assets/images/header-img.jpg);
}

nav ul li {
  list-style: none;
  padding: 0.5rem;
}

nav ul a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2.5rem;
}

nav ul {
  margin: 0;
  padding-bottom: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}
/* Header style end  */

/* About me section begin  */

.about {
  background-color: var(--secondary-order);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0 3rem;
  margin-bottom: 0;
}

.pete {
  border-radius: 50%;
  width: 100%;
  max-width: 50vw;
  box-shadow: 3px 5px 10px #333;
}

.about-me {
  margin: 0 10rem;
}

.about-me p {
  text-align: left;
}

.about-me h2 {
  margin-bottom: 4rem;
}

/* Application styles begin */

.applications {
  text-align: center;
  background-image: url(./assets/images/header-img.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 4rem 0 3rem;
}

.applications h2 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 0 10rem;
}

.app {
  background-color: aliceblue;
  padding: 2rem;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 2rem;
}

.project img {
  width: 80%;
  margin: 0 auto;
}
.project img:hover {
  animation-name: expand;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes expand {
  from {
    width: 80%;
  }
  to {
    width: 85%;
  }
}

.app-title {
  margin-bottom: 0;
  padding: 0;
  color: var(--secondary-color);
}

/* Application styles end  */

/* Contact me styles begin  */

footer {
  background-image: url(./assets/images/header-img.jpg);
  text-align: center;
  padding: 0.2rem 0 1.5rem;
}

address {
  font-size: 2rem;
  text-decoration: none;
  font-style: normal;
}

address {
  line-height: 2;
}

footer h2 {
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
}
/* contact me styles end */

/* Media queries */
@media screen and (min-width: 768px) {
  .header h1 {
    margin-bottom: 1.6rem;
  }

  nav ul {
    flex-direction: row;
    padding: 0 0 2rem;
  }

  nav ul li {
    padding: 0 4rem;
    margin-bottom: 1.5rem;
  }

  .app {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 980px) {
  .header {
    position: sticky;
    top: 0;
  }

  header h1 {
    font-size: 7rem;
    padding: 0;
    margin: 1rem;
    margin-bottom: 1rem;
  }

  nav li a {
    font-size: 3rem;
  }

  .about {
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 10rem;
  }

  .about-me {
    text-align: left;
    flex: 1;
  }

  .about a img {
    max-width: 25vw;
    margin-left: 10rem;
  }

  h2 {
    font-size: 6rem;
  }

  .applications {
    padding: 3rem 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
  .app {
    margin: 2rem;
  }
}
