* {
  font-size: 62.5%;
  box-sizing: border-box;
}
:root {
  --primary-color: white;
  --secondary-color: #333;
}

body {
  font-size: 10rem;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-family: "Lato", "Roboto" sans-serif;
}

h1 {
  color: var(--primary-color);
  font-size: 5rem;
  margin: 2rem;
}
h2 {
  font-size: 4rem;
  text-shadow: 2px 2px 1px #333;
}

/* Global styles end */

/* Header section styles begin */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(./assets/images/header-img.jpg);
}

nav ul li {
  list-style: none;
  padding: 0.5rem;
}

nav ul a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2.5rem;
}

nav ul {
  margin: 0;
  padding-bottom: 3rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}
/* Header style end  */

/* About me section begin  */

.about {
  background-image: url(./assets/images/header-img.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pete {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50vh;
  box-shadow: 3px 5px 10px #333;
}

.about-me {
  margin: 0 6rem;
}

/* Application styles begin */

.applications {
  text-align: center;
  background-image: url(./assets/images/header-img.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.applications h2 {
  margin-top: 0;
}

.app {
  background-color: aliceblue;
  padding: 2rem;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  min-width: 60vw;
  max-width: 60vw;
}

.project img {
  max-width: 30vw;
  margin: 0 auto;
}
.project img:hover {
  animation-name: expand;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
@keyframes expand {
  from {
    max-width: 30vw;
  }
  to {
    max-width: 40vw;
  }
}

.app-title {
  margin-bottom: 0;
  padding: 0;
  color: var(--secondary-color);
}

/* Application styles end  */

/* Contact me styles begin  */

footer {
  background-image: url(./assets/images/header-img.jpg);
  text-align: center;
  padding: 0.2rem 0 1.5rem;
}

address {
  font-size: 2rem;
  text-decoration: none;
  font-style: normal;
}

address {
  line-height: 2;
}

footer h2 {
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
}
/* contact me styles end */

/* Media queries */
@media screen and (min-width: 768px) {
  .header h1 {
    margin-bottom: 3rem;
  }

  nav ul {
    flex-direction: row;
    padding: 0 0 2rem;
  }

  nav ul li {
    padding: 0 4rem;
    margin-bottom: 1.5rem;
  }
}
