* {
  font-size: 62.5%;
  box-sizing: border-box;
}
:root {
  --primary-color: #efeae4;
  --secondary-color: #211e1f;
  --new: #545454;
  --tertiary-color: #c5ab8b;
  --fourth-color: #ae968e;
  --primary-border: #49b3fc;
  --secondary-order: #f091ad;
  --yaya: #6fb5e3;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10rem;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-family: "Lato" ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--yaya);
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 0px 0px 3px var(--secondary-color);

}

h1 {
  color: var(--primary-color);
  font-size: 4.6rem;
  margin-bottom: 0;
}

p {
  color: var(--new);
}

a {
  color: var(--secondary-color);
  font-weight: 300;

}

.icon-general {
  font-size: 7rem;
}

.icon-general:hover {
  cursor: pointer;
  opacity: .7;
}



header a {
  text-decoration: none;
}
h2 {
  font-size: 3.6rem;
}

h3 {
  color: var(--primary-border-color);
}

/* Global styles end */

/* Modal style begin */

.modal {
  background: var(--new);
  height: 50vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid var(--primary-color);
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow: auto;
}
.modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-anchor {
  color: var(--primary-color);
  font-size: 5rem;
  padding-bottom: 2rem;
  text-align: left;
}

.nav-list-modal {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.nav-links-modal {
  display: flex;
  flex-direction: column;
}

/* Modal style end */

/* Header section styles begin */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--yaya);
}

.hamburger-container {
  display: flex;
  align-items: center;
}

.hamburger {
  margin-right: 1rem;
}

.hamburger:hover {
  cursor: pointer;
  opacity: .7;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastname-pronunciation {
  margin: 0;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.nav-links {
  display: none;
}

nav ul li {
  list-style: none;
  padding: 0.5rem 0;
}

nav ul a {
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0.5rem 4rem;
}

nav ul a:hover {
  animation-name: list;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes list {
  from {
    color: var(--primary-color);
  }
  to {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 20px;
  }
}

nav ul {
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  text-align: center;
}

/* Header style end  */

/* About me section begin  */

.about {
  background-color: var(--yaya);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 0 3rem;
  margin-bottom: 0;
  border-top: none;
  border-bottom: none;
}

.pete {
  border-radius: 50%;
  width: 100%;
  max-width: 50vw;
  box-shadow: 0px 0px 5px #333;
}

.about-me {
  margin: 0 4rem;
}
 
.about-me p {
  text-align: center;
}

.about-me h2 {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 2rem;
  width: 40vw;
  margin: 2rem auto 4rem;
  text-align: center;
}

/* Application styles begin */

.project-type {
  color: var(--secondary-color);
  list-style: none;
  padding: 0 2rem;
  font-size: 2.5rem;
}

.application-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
}

.project-type {
  flex: 1 1 0px;
}

.separator {
  margin: 0;
  font-size: 4rem;
}

.applications {
  align-items: center;
  background-color: var(--primary-color);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 4rem 0 3rem;
  text-align: center;
}

.applications h2 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background-color: var(--primary-color);
  padding: 2rem;
  box-shadow: 3px 3px 5px black;
  border-radius: 15px;
  max-width: 90%;
  max-height: 100%;
  margin-bottom: 2rem;
  overflow: scroll;
}
/*  */

.project-title {
  font-size: 2.5rem;
  margin-bottom: 0;
  padding: 0;
}

.img {
  width: 80%;
  margin: 0 auto;
}
.project img:hover {
  animation-name: expand;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.project-link {
  text-decoration: none;
  font-weight: 100;
  color: var(--primary-color);
}

.a-btn {
  font-size: 2rem;
  border-radius: 20px;
  padding: .3rem 2rem;
  background: red;
}
@keyframes expand {
  from {
    width: 80%;
  }
  to {
    width: 82%;
  }
}

/* Application styles end  */

/* Contact me styles begin  */

footer {
  background: var(--secondary-color);
  text-align: center;
  padding: 0.2rem 0 1.5rem;
}

address {
  font-size: 2rem;
  text-decoration: none;
  font-style: normal;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  padding: 0 .5rem;
}

address {
  line-height: 2;
}

address a:hover {
  color: var(--primary-border);
}

.contact-header {
  margin-top: .8rem;
  margin-bottom: 0rem;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
}
/* contact me styles end */

/* Media queries */
@media screen and (min-width: 768px) {

  .header {
    justify-content: center;
  }
  .header h1 {
    margin-bottom: 0;
  }

  .name {
    text-align: center;
    
  }

  nav ul {
    flex-direction: row;
    padding: 0 0;
  }

  nav ul li {
    padding: 0 4rem;
    margin-bottom: 1.5rem;
  }

  .pete {
    width: 40vw;
  }

  .app {
    margin-bottom: 3rem;
  }

  .app-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 980px) {
  .header {
    padding-left: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 7rem;
    padding: 0;
    margin: 1rem;
    margin-bottom: 1rem;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    margin: auto;
  }

  .nav-list {
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  nav li a {
    font-size: 3rem;
  }

  .about {
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 20rem;
  }

  .about-me {
    text-align: left;
    flex: 1;
  }

  .about-me p {
    line-height: 1.5;
    font-size: 2.5rem;
  }

  .about a img {
    max-width: 25vw;
    margin-left: 10rem;
  }

  h2 {
    font-size: 5rem;
  }

  .applications {
    padding: 3rem 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
  .app {
    width: 40%;
    height: 40%;
    margin: 2rem;
  }

  footer address {
    font-size: 2rem;
  }
  .project img:hover {
    animation-name: expand;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }
  @keyframes expand {
    from {
      width: 80%;
    }
    to {
      width: 82%;
    }
  }
}

@media screen and (min-width: 1080px) {
  .header {
    justify-content: start;

  }

  .application-header {
    display: flex;
  }

  .project-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .separator {
    margin: 0;
    font-size: 3rem;
  }

  .project-type {
    color: var(--secondary-color);
    list-style: none;
    padding: 0 2rem;
    font-size: 2.5rem;
  }

  .grid-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    column-gap: 20px;
  }

  .app {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .project-title {
    font-size: 4rem;
    margin-top: 1rem;
  }


  
}



/* Card Styles */

.projects-container {
  text-align: center;
}

.projects-container-title {
  margin-bottom: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  width: 100%;
  padding: 2rem;
}

.grid-item {
  background: var(--primary-border);
  overflow: hidden;
  border-radius: 7px;
  position: relative;
  border: 3px solid black;
}

.grid-item:hover {
  transform: translateY(-0.3%);
  transition-duration: .5s;
  transition-timing-function: ease-out;
  box-shadow: 0 0 10px black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
}

.card-title {
  margin-bottom: 0;
  padding: .2rem;
}

.card-text {
  font-size: 2.5rem;
  color: var(--primary-color);
  padding: 0 3rem 1rem;
  min-height: 130px;
  margin: 0;
}

.card-links-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-links {
  text-decoration: none;
  font-size: 3rem;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);  
  border-radius: 10px;
  padding: .3rem 2rem;
  margin-bottom: .3rem; 
  border: 3px solid var(--new);
  min-width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-links:hover {
  cursor: pointer;
  opacity: .8;  
  transition: .3s;
}